:root {
    --main-background-color: #2880ec;
    --text-color: white;
    --link-color: rgb(0, 187, 255);
    --link-hover-color: #debfbf;
    --navbar-color: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--main-background-color);
    color: var(--text-color);
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 20px;
    background-color: var(--navbar-color);
    color: var(--text-color);
    align-items: center;
    height: auto;
}

.logo {
    width: 10%;
    max-width: 100px;
    height: auto;
}

ul {
    list-style: none;
    /** Para no ver los puntos */
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    justify-content: center;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.nav-links a:focus {
    background-color: #555;
    color: #fff;
}

.nav-links a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    margin-left: 1em;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

.content {
    padding: 20px;
}

@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: var(--navbar-color);
        width: 100%;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}